Django==4.1
django_echarts==0.6.0
gensim==4.1.2
jieba==0.42.1
lxml==4.9.1
numpy==1.24.3
pandas==2.0.1
pyecharts==2.0.3
pyLDAvis==3.4.1
Requests==2.29.0
selenium==4.9.0
snownlp==0.12.3
tqdm==4.65.0
transformers==4.27.1
